#indice {
    position:fixed;
    top:30%;
    right:6%;
        }
    #vertical {


border:         none;
border-left:    1px solid hsla(100, 10%, 50%,50);
height:         100vh;
width:          1px;       
}

hr{
width: 45%;
margin-left:0%;

}

    
.vl {
border-left: 1px solid black;
height: 100%;
position: fixed;
left: 75%;
margin-left: -3px;
top: 0;
}
body {
    background-color: lightblue;

}